.config-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    width: 100%;
}

.flavorStackList,
.flavorStackListContent {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.flavorStackListContent {
    overflow-y: auto;
    scrollbar-width: thin;
}

.flavorStackItem {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    margin: 0 ! important;
}

.arrows {
    font-size: 32px;
}

.arrows:hover {
    cursor: pointer;
    opacity: 0.8;
}